<div class="row">
  <form class="col s12 m6 offset-m3" ng-submit="$ctrl.register($ctrl.user)">
    <div class="row">
      <div class="col s12">
        <h1>Signup</h1>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" ng-model="$ctrl.user.name">
        <label for="name">Nome</label>
      </div>
      <div class="input-field col s6">
        <input id="email" type="email" class="validate" ng-model="$ctrl.user.email">
        <label for="email">E-mail</label>
      </div>
      <div class="input-field col s6">
        <input id="cpf" type="text" class="validate" ng-model="$ctrl.user.cpf">
        <label for="cpf">CPF</label>
      </div>
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" ng-model="$ctrl.user.password">
        <label for="password">Password</label>
      </div>
      <div class="input-field file-field col m12 l8">
        <div class="btn btn-sm">
          <span><i class="material-icons">file_upload</i>Photo</span>
          <input type="file" ng-model="$ctrl.user.photo">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="input-field col m12 l4">
        <button type="submit" class="waves-effect waves-light btn right">save</button>
      </div>
    </div>
  </form>
</div>
