<h1 class="section-title">List users</h1>
<ul class="collection" ng-init="$ctrl.initUserList()">
  <li class="collection-item avatar" ng-repeat="user in $ctrl.userList">
    <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
    <span class="title">Full Name</span>
    <p>{{ user.name }}</p>
    <a href="#!" class="secondary-content tooltipped" data-position="top" data-delay="50" data-tooltip="Delete user">
      <i class="material-icons">close</i>
    </a>
  </li>
</ul>