<h1 class="section-title">List users</h1>
<ul class="collection">
  <li class="collection-item avatar">
    <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
    <span class="title">Full Name</span>
    <p>E-mail</p>
    <a href="#!" class="secondary-content tooltipped" data-position="top" data-delay="50" data-tooltip="Delete user">
      <i class="material-icons">close</i>
    </a>
  </li>
  <li class="collection-item avatar">
    <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
    <span class="title">Full Name</span>
    <p>E-mail</p>
    <a href="#!" class="secondary-content tooltipped" data-position="top" data-delay="50" data-tooltip="Delete user">
      <i class="material-icons">close</i>
    </a>
  </li>
</ul>