<div class="container">
	<div class="row">
		<div class="col s12 l6">
			<h1 class="section-title">List users</h1>
			<ul class="collection">
				<li class="collection-item avatar">
					<img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
					<span class="title">Full Name</span>
					<p>E-mail</p>
					<a href="#!" class="secondary-content tooltipped" data-position="top" data-delay="50" data-tooltip="Delete user">
						<i class="material-icons">close</i>
					</a>
				</li>
				<li class="collection-item avatar">
					<img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
					<span class="title">Full Name</span>
					<p>E-mail</p>
					<a href="#!" class="secondary-content tooltipped" data-position="top" data-delay="50" data-tooltip="Delete user">
						<i class="material-icons">close</i>
					</a>
				</li>
			</ul>
		</div>
		<div class="col s12 l6">
			<h1 class="section-title">Add new user</h1>
			<form>
				<div class="row">
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Full Name</label>
					</div>
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">E-mail</label>
					</div>
					<div class="input-field file-field col m12 l8">
						<div class="btn btn-sm">
							<span><i class="material-icons">file_upload</i>Avatar</span>
							<input type="file">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
					<div class="input-field col m12 l4">
						<a class="waves-effect waves-light btn right">save</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>