<div class="container">
  <h1 class="section-title">Add new post</h1>
  <div class="row">
    <form class="col s6 offset-s3">
      <div class="input-field">
        <input id="title" type="text" class="validate">
        <label for="title">Title</label>
      </div>
      <div class="input-field">
        <textarea id="content" class="materialize-textarea"></textarea>
        <label for="content">Content</label>
      </div>
      <div class="input-field">
        <div class="chips chips-placeholder"></div>
      </div>
      <div class="input-field">
        <select multiple>
          <option value="" disabled selected>Choose the category</option>
          <option value="1">Category 1</option>
          <option value="2">Category 2</option>
          <option value="3">Category 3</option>
        </select>
      </div>
      <div class="input-field">
        <select class="icons">
          <option value="" disabled selected>Choose the author</option>
          <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="left circle">example 1</option>
          <option value="" data-icon="http://materializecss.com/images/office.jpg" class="left circle">example 2</option>
          <option value="" data-icon="http://materializecss.com/images/yuna.jpg" class="left circle">example 3</option>
        </select>
      </div>
      <div class="input-field">
        <button type="submit" class="waves-effect waves-light btn right">Publish</a>
      </div>
    </form>
  </div>
</div>