<h1 class="section-title">Add new user</h1>
<form>
  <div class="row">

    <div class="input-field col s6">
      <input id="name" type="text" class="validate" ng-model="$ctrl.user.name">
      <label for="name">Nome</label>
    </div>

    <div class="input-field col s6">
      <input id="email" type="text" class="validate" ng-model="$ctrl.user.email">
      <label for="email">E-mail</label>
    </div>

    <div class="input-field col s6">
      <input id="cpf" type="text" class="validate" ng-model="$ctrl.user.cpf" ui-mask="999.999.999-99" placeholder=" "
             ui-mask-placeholder-char="_"/>
      <label for="cpf">Cpf</label>
    </div>

    <div class="input-field file-field col m12 l8">
      <div class="btn btn-sm">
        <span><i class="material-icons">file_upload</i>Avatar</span>
        <input type="file" accept="image/x-png,image/jpeg" name="file" fileread=$ctrl.user.photo >
      </div>

      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" ng-model="$ctrl.photoName" ng-change="$ctrl.validaPhoto()">
      </div>
    </div>

  </div>

  <div class="input-field col m12 l4">
    <button type="submit" ng-click="$ctrl.save()" class="waves-effect waves-light btn right" id="btSave">save</button>
  </div>

  <div class="input-field col m12 l4">
    <button type="submit" ng-click="$ctrl.reset()" class="waves-effect waves-light btn right" id="btReset">reset
    </button>
  </div>

  </div>
</form>
